body{
    background-color: pink;
    color: green;
}

h1{
    font-size: 6em;
    text-align: center;
    color: red;
    text-shadow: 8px -8px black;
}

h2{
    font-size: 8em;
    text-align: right;
    text-shadow: -2px -2px white;
}

ul{
    text-align: center;
    color: purple;
}

h3{
    color:blue;
}

.content{
    background-color: orange;
    font-size: 2em;
}

.extreme{
    background-color: blue;
    color: white;
}